.body {
  background: #312E2B;
  height: 100vh;
  overflow-x: hidden;
}

.leftSidebar {
  background: #272522;
  height: 100vh;
  width: 145px;
  cursor: pointer;
}

.rightSidebar {
  margin-left: 200px;
}

.showAfterXLScrn {
  display: none;
}

.optionsText {
  font-size: 16px;
}

.showAfterLGScrn{
  display: none;
}

.mainHeading{
  font-size: calc(30px + 1.5vw);
}

.footerOptions{
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

@media (max-width: 1199px) {
  .leftSidebar {
    width: 50px;
  }

  .hideAfterXLScrn {
    display: none;
  }

  .showAfterXLScrn {
    display: block;
  }

  .rightSidebar {
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .leftSidebar {
    display: none;
  }

  .rightSidebar {
    margin-left: 0;
  }

  .showAfterLGScrn{
    display: block;
  }
}