.body {
  background: #312E2B;
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",system-ui,Helvetica,Arial,sans-serif;
}

.leftSidebar {
  background: #272522;
  height: 100vh;
  width: 145px;
  cursor: pointer;
}

.offcanvasLeftSidebar {
  background: #272522;
  height: 100vh;
  width: 180px;
  margin-top: -32px;
  cursor: pointer;
  overflow: hidden;
}

.rightSidebar {
  margin-left: 200px;
}

.showAfterXLScrn {
  display: none;
}

.optionsText {
  font-size: 16px;
}

.showAfterLGScrn{
  display: none;
}

.mainHeading{
  font-size: calc(22px + 1.5vw);
  line-height: 1.13;
}

.footerOptions{
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.rightSidebarWidth{
  max-width: 405px;
}

.section2{
  background: #272522;
  border-radius: 5px;
}

.showAfterMDScrn{
  display: none;
}

@media (max-width: 1199px) {
  .leftSidebar {
    width: 50px;
  }

  .hideAfterXLScrn {
    display: none;
  }

  .showAfterXLScrn {
    display: block;
  }

  .rightSidebar {
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .leftSidebar {
    display: none;
  }

  .rightSidebar {
    margin-left: 0;
  }

  .showAfterLGScrn{
    display: block;
  }
}

@media (max-width: 767px) {
  .rightSidebarWidth{
    width: 100%;
    margin: auto;
  }
  
  .hideAfterLGScrn{
    display: none;
  }

  .introImage{
    display: none;
  }

  .section2{
    background: transparent;
  }

  .showAfterMDScrn{
    display: block;
  }

  .hideAfterMDScrn{
    display: none;
  }
}